.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    width: 35rem;
    min-height: 100%;
    background-color: var(--logo-black);
    padding: 1rem;
    border-left: 1px solid var(--logo-border-color);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        // width: 0px;
        background-color: transparent;
    }

    @media (max-width:442px) {
        width: 100vw;
    }

    .cart-items-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        border-top: 1px solid var(--logo-border-color);
    }
}