.item-cart-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--logo-border-color);
    align-items: center;
    min-height: 7rem;
    max-height: 7rem;
    padding: 1rem 0;

    .outer-img-container {
        position: relative;
        min-width: 5rem;
        max-width: 5rem;
        min-height: 5rem;
        max-height: 5rem;
        overflow: hidden;
        border-radius: var(--logo-border-radius);
        overflow: hidden;
        user-select: none;

        * {
            pointer-events: none;
        }

        .inner-img-container {
            object-fit: cover;
        }
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .info-container {
            display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: flex-start;
            font-weight: var(--weight-bold);
            height: 100%;
            background-color: blue;

            .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                background-color: orange;

                .name {
                    font-size: var(--size-medium);
                }

                .prices {
                    display: flex;
                    align-items: flex-end;
                    gap: 0.75rem;

                    .old {
                        color: var(--logo-light-gray);
                        text-decoration: line-through;
                        font-size: var(--size-small);
                    }

                    .discount {
                        color: var(--succes-color);
                        font-size: var(--size-small);
                    }
                }
            }

            .btn-quantity-container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-radius: var(--border-radius);
                border: 1px solid var(--border-color);
                background-color: pink;

                &:hover {
                    border: 1px solid var(--border-color-hover);
                }

                .btn {
                    cursor: pointer;
                    padding: 0;
                    height: 1.75rem;
                    width: 1.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: none;

                    &.left {
                        border-top-left-radius: var(--border-radius);
                        border-bottom-left-radius: var(--border-radius);
                        border-right: 1px solid transparent;

                        &:hover {
                            border-right: 1px solid var(--border-color-hover);
                        }
                    }

                    &.right {
                        border-top-right-radius: var(--border-radius);
                        border-bottom-right-radius: var(--border-radius);
                        border-left: 1px solid transparent;

                        &:hover {
                            border-left: 1px solid var(--border-color-hover);
                        }
                    }

                    &:hover {
                        background-color: var(--white-hover);
                    }
                }
            }
        }

        .btn-remove {
            background-color: transparent;
            border-radius: var(--border-radius);
            border: 1px solid var(--border-color);
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            background-color: lightblue;

            &:hover {
                background-color: var(--white-hover);
                border: 1px solid var(--border-color-hover);
            }
        }
    }
}