.item-cart-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--logo-border-color);
    align-items: center;
    min-height: 7.5rem;
    max-height: 7.5rem;
    padding: 1.2rem 0;
    position: relative;
    overflow: hidden;

    &.first-card {
        border-top: 1px solid var(--logo-border-color);
    }

    &.final-card {
        border-bottom: 1px solid transparent;
    }

    @media (max-width:500px) {
        flex-direction: column;
        align-items: flex-start;
        min-height: 11rem;
        max-height: 11rem;
    }

    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 1rem;
        min-height: 5.5rem;
        max-height: 5.5rem;
        overflow: hidden;

        .outer-img-container {
            position: relative;
            min-width: 5.5rem;
            max-width: 5.5rem;
            min-height: 5.5rem;
            max-height: 5.5rem;
            overflow: hidden;
            border-radius: var(--logo-border-radius);
            overflow: hidden;
            user-select: none;
            opacity: 0.85;

            * {
                pointer-events: none;
            }

            .inner-img-container {
                object-fit: cover;
            }
        }

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            // gap: 1rem;
            text-align: left;

            .header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;

                .name {
                    font-size: var(--logo-size-16);
                    font-weight: var(--logo-weight-00);

                    @media (max-width:350px) {
                        font-size: var(--logo-size-14);
                    }
                }

                // .categorie {
                //     font-size: var(--logo-size-12);
                //     color: var(--logo-light-gray);
                //     font-weight: var(--logo-weight-300);
                // }
            }

            .prices {
                display: flex;
                align-items: flex-end;
                column-gap: 0.75rem;
                flex-wrap: wrap;
                row-gap: 0.25rem;

                .price {
                    font-size: var(--logo-size-18);

                    @media (max-width:350px) {
                        font-size: var(--logo-size-16);
                    }
                }

                .old {
                    color: var(--logo-light-gray);
                    font-size: var(--logo-size-14);
                    text-decoration: line-through;

                    @media (max-width:350px) {
                        font-size: var(--logo-size-12);
                    }
                }

                .discount {
                    color: var(--logo-green);
                    font-size: var(--logo-size-14);

                    @media (max-width:350px) {
                        font-size: var(--logo-size-12);
                    }
                }
            }
        }
    }

    .btns-container {
        height: 100%;
        min-width: 10rem;
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        min-height: 5.5rem;
        max-height: 5.5rem;
        overflow: hidden;

        @media (max-width:500px) {
            min-width: 100%;
            justify-content: space-between;
            min-height: revert;
            max-height: revert;
        }

        .btn-quantity-container {
            display: flex;

            .btn {
                cursor: pointer;
                padding: 0;
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                border: 1px solid var(--logo-border-color);
                border: 1px solid var(--logo-border-color);

                &.left {
                    border-top-left-radius: var(--logo-border-radius);
                    border-bottom-left-radius: var(--logo-border-radius);
                    border-right: 1px solid var(--logo-border-color);

                    &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;

                        &:hover {
                            background-color: transparent;
                            border: 1px solid var(--logo-border-color);
                        }
                    }
                }

                &.right {
                    border-top-right-radius: var(--logo-border-radius);
                    border-bottom-right-radius: var(--logo-border-radius);
                    border-left: 1px solid var(--logo-border-color);
                }

                &:hover {
                    background-color: var(--logo-border-color-hover);
                    border: 1px solid var(--logo-border-color-hover);
                }
            }

            .quantity {
                border-top: 1px solid var(--logo-border-color);
                border-bottom: 1px solid var(--logo-border-color);
                height: 2rem;
                width: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--logo-size-16);

                @media (max-width:350px) {
                    font-size: var(--logo-size-14);
                }

                &.border-left {
                    box-shadow: -1px 0 0 0 var(--logo-border-color);
                }
            }
        }

        .btn-remove {
            background-color: transparent;
            border-radius: var(--logo-border-radius);
            border: 1px solid var(--logo-border-color);
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--logo-border-color-hover);
                border: 1px solid var(--logo-border-color-hover);
            }
        }
    }

    // .btn-fav {
    //     position: absolute;
    //     top: 1rem;
    //     right: 0;
    //     background-color: transparent;
    //     border-radius: 999px;
    //     border: 1px solid transparent;
    //     height: 2rem;
    //     width: 2rem;
    //     cursor: pointer;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     &:hover {
    //         background-color: var(--logo-border-color-hover);
    //     }
    // }
}