.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    text-align: center;
    width: 30rem;
    min-height: 100%;
    background-color: var(--logo-black);
    padding: 3rem;
    border-left: 1px solid var(--logo-border-color);

    @media (max-width:442px) {
        width: 100vw;
    }

    .item-nav {
        font-size: var(--logo-size-small);
        padding: 0.5rem;
        color: var(--logo-light-gray);

        &:hover {
            color: var(--logo-white);
        }

        &.active {
            color: var(--logo-blue);
            text-shadow: 0 0 0.5px var(--logo-blue);
        }
    }
}