.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    text-align: center;
    width: 30rem;
    min-height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
    background-color: var(--white);
    padding: 3rem;
    border-left: 1px solid var(--border-color);

    @media (max-width:442px) {
        width: 100vw;
    }

    .item-nav {
        font-size: var(--size-medium);
        border: 1px solid transparent;
        padding: 0.5rem;
        border-radius: var(--border-radius);
        color: var(--light-gray);

        &:hover {
            color: var(--black);
        }

        &.active {
            color: var(--blue);
        }
    }
}