.spinner-container {
    border: 2px solid var(--black);
    border-radius: 50%;
    border-left-color: white;
    animation: spin 0.8s ease infinite;
    width: 1rem;
    height: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}