.spinner-container {
    border: 2px solid var(--logo-black);
    border-radius: 50%;
    border-left-color: var(--logo-white);
    animation: spin 0.7s linear infinite;
    width: 1rem;
    height: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}