.notification-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 2rem;
    padding-bottom: 2rem;
    color: var(--logo-white);

    animation-name: fade-in-out;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;

    .iconContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
        padding: 1rem 1.25rem;
        border-radius: var(--logo-border-radius);
        background-color: var(--logo-gray);

        &.approved {
            border: 1px solid var(--logo-success);
        }

        &.failure {
            border: 1px solid var(--logo-failure);
        }

        &.pending {
            border: 1px solid var(--logo-pending);
        }

        .text {
            font-weight: var(--logo-weight-600);
        }
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}