.section-navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    border-bottom: 1px solid var(--logo-border-color);
    z-index: 3;
    background: var(--logo-bg-overlay);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);

    @media (max-width:442px) {
        padding: 0 1rem;
    }

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo-contaier {
                font-size: var(--logo-size-28);
                font-weight: var(--logo-weight-600);
            }

            .item-nav {
                font-size: var(--logo-size-16);
                padding: 0 0.5rem;
                color: var(--logo-light-gray);

                &:hover {
                    color: var(--logo-white);
                }

                &.active {
                    color: var(--logo-blue);
                    text-shadow: 0 0 0.5px var(--logo-blue);
                }

                @media (max-width:768px) {
                    display: none;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}