.section-navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    border-bottom: 1px solid var(--logo-border-color);
    z-index: 3;
    background: var(--logo-bg-overlay);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo-contaier {
                font-size: var(--logo-size-big);
                font-weight: var(--logo-weight-bold);
            }

            .item-nav {
                font-size: var(--logo-size-small);
                padding: 0 0.5rem;
                color: var(--logo-light-gray);

                &:hover {
                    color: var(--logo-white);
                }

                &.active {
                    color: var(--logo-blue);
                    text-shadow: 0 0 0.5px var(--logo-blue);
                }

                @media (max-width:768px) {
                    display: none;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .icon-container {
                position: relative;
                cursor: pointer;
                border-radius: var(--logo-border-radius);
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--logo-border-color);
                background: transparent;

                &:hover {
                    background-color: var(--logo-border-color-hover);
                    border: 1px solid var(--logo-border-color-hover);
                }

                .badge {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    border-radius: 99px;
                    height: 1rem;
                    width: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--logo-other-blue);
                    color: var(--logo-white);
                    font-weight: var(--logo-weight-bold);
                    font-size: var(--logo-size-tiny);
                    border: none;
                }

                &.mobile {
                    display: none;

                    @media (max-width:768px) {
                        display: flex;
                    }
                }
            }
        }
    }
}